name: newpost

on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  main:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      BSKY_USER: ${{ secrets.BSKY_USER }}
      BSKY_PSWD: ${{ secrets.BSKY_PSWD }}
      NOSTR_PRIV: ${{ secrets.NOSTR_PRIV }}
      
    steps:
      - name: checkout repo content
        uses: actions/checkout@v3
        
      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: install python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install atproto
          pip install nostr

      - name: running bot
        run: python main.py
